@{
    ViewData["Title"] = "Home Page";
}

@model List<News>
<!-- ======================================================= SLIDER AREA -->
<div class="slider-area">
    <div class="slider-container-center">
        <div class="slider-container">
            <div class="owl-carousel owl-theme news-carousel">
                <div class="item">
                    <div class="slider-item-container">
                        <img src="~/images/PostsGallery/cimerlik.jpg" alt="Cimerlik">
                        <div class="slider-content">
                            <div class="date-view-container">
                                <div class="slider-date">
                                    <p>29 Iyul</p>
                                    <p>19:40</p>
                                </div>
                                <div class="slider-view">
                                    <p>7450</p>
                                </div>
                            </div>
                            <div class="slider-description">
                                <p>Prezident İsmayıllıda modul tipli xəstəxananın açılışında - YENİLƏNİB+FOTO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-item-container">
                        <img src="~/images/PostsGallery/yagislihava.jpg" alt="Rainy">
                        <div class="slider-content">
                            <div class="date-view-container">
                                <div class="slider-date">
                                    <p>28 Iyul</p>
                                    <p>13:30</p>
                                </div>
                                <div class="slider-view">
                                    <p>5465</p>
                                </div>
                            </div>
                            <div class="slider-description">
                                <p>Bölgələrdə yağış yağıb, dolu düşüb, sel gəlib – FAKTİKİ HAVA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================================================= SLIDER AREA-->
<!-- ======================================================= MAIN NEWS -->
<main>
    <div class="content-main-container">
        <div class="main-center">
            @{
                foreach (var post in Model)
                {
                    <div class="news-card">
                        <div class="news-posted-date">
                            <div class="posted-day">
                                <p>@post.PostDate.Substring(post.PostDate.IndexOf(" ") + 2)</p>
                                <p>@post.PostDate.Substring(0, post.PostDate.IndexOf(" "))</p>
                            </div>
                            <div class="posted-time">
                                <p>@post.PostTime</p>
                            </div>
                        </div>
                        <div class="post-image">
                            <img src="~/images/PostsGallery/@post.FileName" alt="Image Here!">
                        </div>
                        <div class="post-description">
                            <p>
                                <a target="_blank" href="@Url.Action("Detail", "Home", new { id = post.id})">@post.Title</a>
                            </p>
                        </div>
                        <div class="post-attributes">
                            <div class="post-detail">
                                <i class="far fa-thumbs-up"></i>
                                <span>@post.LikeAmount</span>
                            </div>
                            <div class="post-detail">
                                <i class="far fa-thumbs-down"></i>
                                <span>@post.DislikeAmount</span>
                            </div>
                            <div class="post-detail">
                                <i class="far fa-eye"></i>
                                <span>@post.VisitedAmount</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</main>
<!-- ======================================================= MAIN NEWS -->
